<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link type="text/css" rel="stylesheet" href="/css/default.css" />
<!-- within your main template -->
<script>
  window.csrf = '{{csrf}}';
</script>

<body>
  <div class="header">
    <h1>Smart Houm</h1>
    <button type="submit" onClick="refreshPage()">Refresh Button</button>
  </div>

  <div class="row" style="color:#fff;">
    <div class="column" style="background-color:#2A363B">
      <h3>Svetlá</h3>
      <h3> <label for="scales">Okolitý jas</label>

        <output id="amb_lit"></output> </h3>
      <output id="lit_on"></output>
      <button type="submit" onClick="doLightOff()">Vypnúť</button>
      <output id="lit_off"></output>
      <button type="submit" onClick="doLightOn()">Zapnúť</button>
      <output id="lit_aut"></output>
      <button type="submit" onClick="doLightAut()">Automat</button>

    </div>
    <div class="column" style="background-color:#2A363B;">
      <h3>Garáž</h3>
      <div class="table_rooms">
        <h3> <output id="gar_on"></output>
          <button type="submit" onClick="doGarageOpen()">Otvoriť</button>
          <output id="gar_off"></output>
          <button type="submit" onClick="doGarageClose()">Zatvoriť</button> </h3>
      </div>

    </div>
    <div class="column" style="background-color:#fff;">
    </div>

  </div>

  </div>
  <div class="row" style="color:#fff;">
    <div class="column bl3" style="background-color:# 2A363B;">
      <h3>Teplota izby</h3>
      <h3> Nastavená teplota / Aktuálna teplota <output id="tem_spt"></output>
        <output id="tem_act"></output> </h3>
      <!--      <form> -->
      <h3>Nastav teplotu: (rozsah 0 až 50):</h3>

      <h3> <input id="in_tem_spt" type="number" onClick="doTempSet()" name="setpoint" min="0" max="50" value="20"><br> </h3>

    </div>
    <div class="column" style="background-color:#fff;">
    </div>
  </div>
  </div>
  <div class="footer" style="color:#fff;">
    <p>@ Peter Riša 2019</p>
  </div>

  <script src="js/jquery-3.3.1.min.js" async></script>
  <script src="js/main.js" async></script>
</body>

</html>
