<!DOCTYPE html>
<html>
  <body bgcolor="#363636"></body>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link type="text/css" rel="stylesheet" href="/css/default.css" />
<!-- within your main template -->
<script>
  window.csrf = '{{csrf}}';
</script>

<body>
  <div class="header">
  <div class="row" style="color:#fff;">
    <h1>SMART HOUM</h1>
  </div>
   <!--  <button type="submit" onClick="refreshPage()">Refresh Button</button> -->
  </div>
  <div class="column" style="background-color:#363636;">
    </div>

  
  <div class="row" style="color:#fff;">
    <div class="column" style="background-color:rgba(47, 149, 153, 0.534) ">
      <h2>Optimálne osvetlenie</h2>
      <h5> <label for="scales">Množstvo svetla</label> 

         <output id="amb_lit"></output>%</h3>
      <!-- <output id="lit_on"></output> -->
      <button id="litOff" class="button" type="submit" onClick="doLightOff()">Vypnúť svtelo</button>
        <!-- <output id="lit_off"></output> -->
      <button id="litOn" class="button" type="submit" onClick="doLightOn()">Zapnúť svetlo</button>
      <!-- <output id="lit_aut"></output> -->
      <button id="litAut" class="button" type="submit" onClick="doLightAut()">Automaticky</button>

    </div>
    <div class="column" style="background-color:#363636;">
    </div>

    <div class="column" style="background-color:rgba(47, 149, 153, 0.534) ;">
      <div class="row" style="color:#fff;">
      <h2>Garáž</h2>
    </div>
      <div class="table_rooms">
        <!--<h3> <output id="gar_on"></output>-->
          <button id="otvGar"class="button" type="submit" onClick="doGarageOpen()">Otvor</button>
        <!--<output id="gar_off"></output> -->
          <button id="zatGar"class="button"type="submit" onClick="doGarageClose()">Zatvor</button> </h3>
      </div>

    </div>
    <div class="column" style="background-color:#363636;">
    </div>

  </div>

  </div>
  <div class="row" style="color:#fff;">
    <div class="column bl3" style="background-color:rgba(47, 149, 153, 0.534) ;">
      <h2>Teplota izby</h2>
      <h4> Nastavená teplota <output id="tem_spt"></output> <h4>

       Aktuálna teplota </output>
        <output id="tem_act"></output> </h3>
      <!--      <form> -->
      <h3>Nastav teplotu: (rozsah 0 až 50):</h3>

      <h3> <input id="in_tem_spt" type="number" onClick="doTempSet()" name="setpoint" min="0" max="50" value="20"><br> </h3>

    </div>
    <div class="column" style="background-color:#363636;">
    </div>
  </div>
  </div>
  <div class="footer" style="color:#fff;">
    <p>@ Peter Riša 2019</p>
  </div>

  <script src="js/jquery-3.3.1.min.js" async></script>
  <script src="js/main.js" async></script>
</body>

</html>
