* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
}

/* Style the header */
.header {
  background-color: #FFF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three equal columns that floats next to each other */
.column {
  text-align: center;
  border-radius: 20px;
  float: left;
  width: 50.0%;
  background: #2A363B;
  padding: 10px;
  /*width: 200px;*/
  /*height: 150px; */
}

.bl3 {
  . float: center;
  width: 100.0%;
  padding: 10px;
  /*  height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #363636;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}